.carousel{
    position: relative;
    height: 600px;
    width: 80%;
    margin: 0 auto;
}

.carousel_image{
    width: 70%;
    height: 100%;
    object-fit: cover;
}

.carousel__track-container{
    height: 100%; 
    position: relative;   
}

.carousel__track{
    padding: 0;
    margin: 0;
    list-style: none;
    height: 100%;
    position: relative;
    transition: transform 250ms ease-in;
}

.carousel__slide{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel__nav{
    display: flex;
    justify-content: center;
    padding: 10px 0;

}
.carousel__indicator{
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: rgba(0, 0, 0, .3);
    margin: 0 12px;
    cursor: pointer;
}

.carousel__indicator.current-slide{
    background: rgba(0, 0, 0, .75);
}

@media all and (max-width: 500px) {
    .carousel__slide.notTarget{
        display: none;
    }
    .carousel__slide.current-slide{
        display: block;
    }
}